# API Gateway Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET=super_secret_jwt_key_change_me_in_production

# Microservices Ports (Internal / External Local Mapping)
AUTH_SERVICE_URL=http://localhost:8080
INVENTORY_SERVICE_URL=http://localhost:8081
PROCUREMENT_SERVICE_URL=http://localhost:8082
PRODUCTION_SERVICE_URL=http://localhost:8083
FINANCE_SERVICE_URL=http://localhost:8084

# Database Connection (PostgreSQL)
DB_USER=erp_user
DB_PASSWORD=erp_password
DB_HOST=localhost
DB_PORT=5435
DB_NAME=erp_db
DB_SSLMODE=disable

# Cache Connection (Redis)
REDIS_HOST=localhost
REDIS_PORT=6375
REDIS_PASSWORD=

# Object Storage (MinIO)
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_password
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=erp-invoices

# Event Broker (Apache Kafka)
KAFKA_BROKERS=localhost:9092
